*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* __________ */

.third_box {
    background-color: #f7f7f7;
  }
  
.bottom_title {
    padding: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
  
.box_title {
    width: 400px;
}
  
.box_title_2 {
    margin-top: 50px;
}
  
.box_title h2 {
    margin-bottom: 25px;
}
  
.container_bluebox {
    width: 100%;
    height: 474px;
    background-color: #0865de;
}
  
.blue_box_title {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    padding: 50px;
}
  
.blue_box_title h2 {
    color: #fff;
    letter-spacing: 5px;
    font-weight: 200;
}
  
.blue_box_title p {
    color: #002d69;
    font-size: 22px;
    margin-top: 30px;
}

/* ____________ */
  